.container {
	position:relative;
	width:100%;
		margin:0;
		padding:0;

}
.active {
	border:3px solid #FF0000;
	border-radius: 1.0rem;
}		
@media (min-width: 800px){
	.content {
		position:relative;
		width:80%;
		margin: auto;
	}
	img {
		padding: 0;
		display: block;
		width:100%;
		max-width:100%;
		height: auto;
	}
	.full-header{
	}
	.container {
		width:80%;
		float:right;
	}
	html, body {
	   height: 100%;
	   margin: 5px;
	   padding: 0;
	}
	#menu{
		text-align: left;
		float:left;		
	}
	#menu > div {
		margin:0.25rem;
	}
}
@media (max-width: 800px){
	.content {
		width:100%;
		margin: auto;
	}
	img {
		padding: 0;
		display: block;
		max-width:100%;
		width:100%;
		height: auto;
	}
	#menu{
		text-align: center;
		padding:.3rem;
	}
	#menu > div {
		display:inline-block;
		margin-left:.2rem;
		margin-right:.2rem;
	}
	.full-header{
		display:none;
	}
	html, body {
	   height: 100%;
	   margin: 1px;
	   padding: 0;
	}

}